<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844222698430-e8j8u0ph8sgkm6e3egbtpapdqtphhtm5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844222698430-e8j8u0ph8sgkm6e3egbtpapdqtphhtm5</string>
	<key>API_KEY</key>
	<string>1qaz2wsxAIzaSyBsVGadR91wrkw4cbVUTxveoifo1wZSJXM</string>
	<key>GCM_SENDER_ID</key>
	<string>844222698430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lyon.flutter.google.map</string>
	<key>PROJECT_ID</key>
	<string>ios-flutter-test</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-flutter-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844222698430:ios:20e1ffdbf1b7cfb7565fef</string>
	<key>DATABASE_URL</key>
	<string>https://ios-flutter-test.firebaseio.com</string>
</dict>
</plist>